{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "cass-cdc-pg.fullname" . }}-kafka-connect
  labels:
    {{- include "cass-cdc-pg.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "cass-cdc-pg.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: kafka-connect
  policyTypes:
    - Ingress
    - Egress
  {{- with .Values.networkPolicy.ingress }}
  ingress:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.networkPolicy.egress }}
  egress:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
